@font-face {
  font-family: "Inter-Regular";
  src: url("../fonts/Inter-Regular.otf");
}

@font-face {
  font-family: "Inter-Bold";
  src: url("../fonts/Inter-Bold.otf");
}

@font-face {
  font-family: "Inter-Black";
  src: url("../fonts/Inter-Black.otf");
}

body {
  font-family: "Inter-Regular";
  padding: 0;
  margin: 0;
  border: 0;
}

.title-bold {
  font-family: "Inter-Bold";
}

table {
  border: 0;
  padding: 0;
  border-spacing: 0;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  min-width: 160px;
}

a {
  color: #007DFF;
  text-decoration: none;
}

.text-blue {
  color: #1C306D;
}

p.mt-40 a {
  display: inline-block;
  margin: 0 5px;
}

.icon-social {
  text-align: center;
}

.icon-social i {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin: 0 10px;
}

.icon-social .ic-fb {
  background: url("../img/icons/ic-fb.png") no-repeat center/8px;
}

.icon-social .ic-ytb {
  background: url("../img/icons/ic-ytb.png") no-repeat center/20px;
}

.icon-social .ic-vk {
  background: url("../img/icons/ic-vk.png") no-repeat center/20px;
}

.icon-social .ic-ins {
  background: url("../img/icons/ic-ins.png") no-repeat center/17px;
}

.icon-social .ic-whats {
  background: url("../img/icons/ic-whats.png") no-repeat center/17px;
}

.ic-ios {
  background: url("../img/icons/ic-ios.png") no-repeat center/12px;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
}

.ic-and {
  background: url("../img/icons/ic-and.png") no-repeat center/12px;
  width: 16px;
  height: 16px;
  margin-left: 30px;
  display: inline-block;
  vertical-align: middle;
}

.btn-blue2 {
  height: 40px;
  font-size: 16px;
  background: -webkit-gradient(linear, left top, right top, from(#007DFF), to(#00B9FF));
  background: -webkit-linear-gradient(left, #007DFF 0%, #00B9FF 100%);
  background: -o-linear-gradient(left, #007DFF 0%, #00B9FF 100%);
  background: linear-gradient(90deg, #007DFF 0%, #00B9FF 100%);
  color: #ffffff;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}

.min-block-tab {
  margin-top: -60px !important;
}

.mb-25 {
  margin-bottom: 25px;
}

.mt-40 {
  margin-top: 40px;
}

.text-center {
  text-align: center;
}

.bottom-tb {
  color: #A9ADB1;
  margin-top: 30px;
  text-align: center;
}

.bottom-tb .right-footer {
  text-align: center;
}

.bottom-tb a {
  color: #A9ADB1;
}

.bg-blue-table {
  min-height: 150px;
}

.logo-box-table {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo-box-table .text-logo {
  color: #fff;
  font-weight: 600;
  font-size: 24px;
  padding-left: 10px;
}

.bg-blue-table {
  background: #007DFF;
  min-height: 150px;
  text-align: center;
}

.table-code {
  width: 100%;
}

.bg-white {
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.08);
  background: #fff;
  color: #000;
  padding: 25px;
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

.btn-blue {
  background: #007DFF;
  color: #fff;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  font-size: 16px;
  line-height: 24px;
}

.btn-blue:hover, .btn-blue:focus {
  color: #fff;
}

.bg-lightBlue {
  background: #FAFCFF;
}

.title-blue {
  font-family: Inter-Black;
  font-size: 24px;
  line-height: 120%;
  color: #1C306D;
}

.w-680 {
  width: 680px;
  margin: 0 auto;
  max-width: 100%;
  text-align: center;
}

.fs-24 {
  font-size: 24px;
}

.text-grey {
  color: #A9ADB1;
}
